/*
Theme Name: ITUFilm
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: itufilm
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

ITUFilm is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Normalize
2.0 Typography
3.0 Elements
4.0 Forms
5.0 Navigation
	5.1 Links
	5.2 Menus
6.0 Accessibility
7.0 Alignments
8.0 Clearings
9.0 Widgets
10.0 Content
	10.1 Posts and pages
	10.2 Asides
	10.3 Comments
11.0 Infinite scroll
12.0 Media
	12.1 Captions
	12.2 Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Normalize
--------------------------------------------------------------*/
html {
	font-family: 'Gadget', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
}

a:focus {
	/*outline: thin dotted;*/
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
	float: right;
}

.main-navigation a {
    display: block;
}

.footer-nav a,
.main-navigation a {
    color: #919191;
    text-decoration: none;
}

.footer-nav a:visited,
.main-navigation a:visited {
    color: #919191;
}

.footer-nav a:hover,
.footer-nav a:focus,
.footer-nav a:active,
.main-navigation a:hover,
.main-navigation a:focus,
.main-navigation a:active{
    color: #fff;
    -webkit-transition: color .25s ease-in-out;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}



.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a {
}

.main-navigation ul ul :hover > a {
}

.main-navigation ul ul a:hover {
}

.main-navigation ul li:hover > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.float-container{
	content: "";
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*
Theme Name: ITUFilm
Layout: General
*/
html{

}

body{
    text-align: center;
    background: #1d1d1d;
}

html,
body {
    height: 100%;
}
dl,
dt,
dd {
    padding:0;
    margin:0
}
dl {
    width:100%;
    overflow:hidden;
}
dt.left {
}
dd {
}

div#page {
    background: url(images/curtain.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#content-wrapper {
    background-color: #ffffff;
    border-radius: 5px 5px 0px 0px;
    opacity: 0.9;
}


.container-centered {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

blockquote {
    background: url(images/bg-quote1.png) no-repeat;
    color: #a5a4a4;
    font-style: italic;
    padding: 35px 0px 0px 45px;
    text-align: left;
}

/*
Theme Name: ITUFilm
Layout: Media queries
*/

@media (max-width: 400px) {
    .nav-logo {
        margin-left: 5px;
        margin-right: 5px;
    }
    .type-review .star-rating {
        float: left;
    }
    .alignright.small-screen,
    .small-screen .alignright {
        float: left;
        display: block;
        margin: 0;
    }
}

@media (min-width: 401px) {
    .nav-logo {
        margin-left: 1.5em;
    }
    .type-review .star-rating {
        float: right;
    }
}

@media (max-width: 1024px){

    .upcoming-event .event-title,
    .upcoming-event .date-time {
        display: none;
    }
    .content-column-2 {
        width: 100%;
    }
    /*.ratings .content-column-2 {*/
        /*width: 40% !important;*/
    /*}*/
    .content-column-2 .content-column-2 {
        width: 50%;
    }
    .trailers {
        display: block !important;
    }
    .trailer {
        width: 100% !important;
    }
    iframe {
        height: auto;
    }
    .rating {
        padding: 15px 0;
    }
    .ratings img {
        width: 50px;
    }
    .rating-itu img {
        height: 28px;
    }
    .rating-metacritic img {
        height: 52px;
    }
    .rating label {
        vertical-align: middle;
        font-size: 1.2em;
        margin-left: 20px;
    }
    .content-column-1.alignleft,
    .content-column-2.alignleft {
        padding-right: 5px;
    }

    .content-column-1.alignright,
    .content-column-2.alignright {
        padding-left: 5px;
    }
    .star-rating {
        margin-left: 0px;
    }
    .sep.small-screen {
        display: none;
    }
    .search-box {
        display: none;
    }
    .time-break {
        display: block;
    }
}

@media (min-width: 1025px){
    .content-column-2 {
        width: 50%;
    }
    .rating {
        padding: 40px 0;
    }
    .ratings img {
        width: 100px;
    }
    .rating-itu img {
        height: 56px;
    }
    .rating-metacritic img {
        height: 105px;
    }
    .rating label {
        vertical-align: middle;
        font-size: 1.7em;
        margin-left: 50px;
    }
    .content-column-1.alignleft,
    .content-column-2.alignleft {
        padding-right: 20px;
    }

    .content-column-1.alignright,
    .content-column-2.alignright {
        padding-left: 20px;
    }
    .star-rating {
        margin-left: 10px;
    }
    br.small-screen {
        display: none;
    }
}


/* Small menu. */
.hidden-icon-menu {
    display: none;
}

@media screen and (max-width: 782px) {
    /*.menu-toggle,*/
    /*.main-navigation.toggled .nav-menu {*/
        /*display: block;*/
    /*}*/

    /*.main-navigation ul {*/
        /*display: none;*/
    /*}*/
    .hidden-icon-menu {
        display: block;
    }
}



@media (max-width: 782px){
    #content-wrapper {
        margin: 0;
    }
    #quote-of-the-day {
        width: 90%;
        margin: 0;
    }
    #site-navigation .large-standard-menu {
        display: none;
    }
    /*.site-header {*/
        /*height: 60px;*/
        /*padding-top: 8px;*/
    /*}*/
}

@media (min-width: 783px){
    /*.site-header {*/
    /*height: 60px;*/
    /*padding-top: 8px;*/
    /*}*/
    .container {
        width: 750px;
    }
    .site-main {
        top: 60px;
    }
    #quote-of-the-day {
        width: 550px;
        margin: 0 auto;
    }
}

@media (min-width: 992px){
    .container {
        width: 970px;
    }
    #content-wrapper {
        margin: 0 10%;
    }
}

@media (max-width: 1199px){
    .upcoming-event {
        width: 50%
    }
}

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
    #content-wrapper {
        margin: 0 15%;
    }
    .upcoming-event {
        width: 33%
    }

}
@media (max-width: 1360px){
    .site-branding {
        display: none;
    }

}
/*
Theme Name: ITUFilm
Layout: Header/Menu
*/


.site-header {
    margin-right: auto;
    margin-left: auto;
    height: 60px;
    width: 100%;
    position: fixed;
    margin-top: -1px;
    z-index: 8;
    background: #1d1d1d;
    overflow: hidden;
    color: #919191;
    border-bottom: 1px solid #2f2f2f;
    backface-visibility: hidden;
}

.footer-nav,
.site-header {
    font-family: 'Arial Black', 'Gadget', 'sans-serif';
}

/*ul#primary-menu li:last-child::before {*/
    /*content: "|";*/
    /*float: left;*/
/*}*/

div.padding-fix{
    height: 100px;
}
.site-description {
    line-height: 40px;
}

.site-branding {
    height: 60px;
    padding: 10px 0;
}

.nav-login li a {
    display: inline-block;
}

.nav-logo {
    height: 60px;
    padding: 10px 0;
}

.menu-default-container,
.nav-login {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}

#primary-menu li {
    margin-right: 10px;
}

.hidden-icon-menu li img {
    width: 32px;
}

.hidden-icon-menu li {
    padding: 15px 10px 6px 10px;
    border-radius: 20px 20px 0px 0px;
}

.hidden-icon-menu li:active,
.hidden-icon-menu li:hover {
    background-color: #2f2f2f;
}

.large-standard-menu {
    padding: 14px 1.5em 14px 5px;
}

/*
Theme Name: ITUFilm
Layout: Main content
*/
.site-main {

}

#quote-of-the-day {

    padding-top: 80px;
}
#quote-of-the-day p.end {
    text-align: end;
}
.site-content {
    padding: 2.5% 5%;
    width: 100%;
    text-align: left;
    height: inherit;
    overflow-y: auto;
}



.content-column-2 {
    margin: 0;
}
.content-column-1 {
    width: 100%;
}

.content-collected {
    margin-top: 20px;
}

.movie-poster {
    margin-top: 20px;
}

.trailer {
    margin: 0 5px;
}

.info-row {
   padding-bottom: 10px;
}

.info-label {
    text-transform: uppercase;
    font-weight: bold;
    color: #919191;
    display: block;
}

.ratings {
    display: table-row;
    height: 1px;
}

.ratings img {

    vertical-align: middle;
}

.ratings a {
    text-decoration: none;
}

/*.leading {*/
    /*padding-left: 0;*/
/*}*/

/*.trailing {*/
    /*padding-right: 0;*/
/*}*/

.planned-events {
}

.upcoming-event{
    display: inline-block;
    padding: 0 20px;
    margin-bottom: 50px;
}


.staff-member {
    margin-bottom: 30px;
}

.staff-member .thumb {
    padding-top: 11px;
}
.staff-member .info {
    max-width: 70%;
}

.staff-member h2 {
    margin-top: 0;
}

.loading-indicator {
    width: 100px;
    margin: 10% 47% 20% 47%;
}
.upcoming-event .loading-indicator {
    margin: 15% 0% 25% 35%;
}

.upcoming-event .date-time {
    margin-bottom: 10px;
}

.date {
    text-transform: uppercase;
    font-weight: bolder
}

.time {
    color: red;
    font-weight: bolder
}

.might-overflow {
    /*white-space: nowrap;*/
    /*max-width: 100%;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}

.module {
    /*width: 250px;*/
    overflow: hidden;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/*
Theme Name: ITUFilm
Layout: Footer
*/
.site-footer {
    background: #1d1d1d;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #2f2f2f;
}

/*
Theme Name: ITUFilm
Layout: Comments
*/
.comments-container {
    margin-bottom: 30px;
}

.comments-title {
    margin-bottom: 10px;
    display: block;
}

.comment-list {
    margin: 0;
    padding: 0;
}
.comment {
    margin-bottom: 10px;
}

.comment .reply {
    margin-top: 10px;
}

.comment footer {
    content: "";
    display: table;
    width: 100%;
}

.comment-meta .comment-metadata {
    vertical-align: top;
}

.comment-author {
    float: left;
}

.comment-metadata {
    float: right;
}

.comment-metadata,
.comment-metadata time {
    margin-right: 4px;
}

.comment-meta {
    padding-top: 10px;
    padding-left: 10px;
}

.comment-meta b,
.comment-meta span {
    vertical-align: top;
}

.comment-content {
    padding-left: 47px;
}

.comment-content,
.comment-meta{
    background-color: rgb(229, 229, 229);
}

.comment.depth-2,
.comment.depth-3,
.comment.depth-4,
.comment.depth-5 {
    margin-left: 30px;
}

.comment-body {
    margin-bottom: 10px;
}

#comment {
    height: 100px;
}

/*
Theme Name: ITUFilm
Layout: ContactForms
*/
#contact-form {
    background-color:#F2F7F9;
    padding:20px;
    margin: 50px auto;
    border: 6px solid #8FB5C1;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    position:relative;
}

#contact-form h1 {
    font-size:42px;
}

#contact-form h2 {
    margin-bottom:15px;
    font-style:italic;
    font-weight:normal;
}

#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form label {
    font-size:15px;
    margin-bottom:2px;
}

#contact-form input,
#contact-form select,
#contact-form textarea {
    width:100%;
    border: 1px solid #CEE1E8;
    margin-bottom:20px;
    padding:4px;
}

#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
    border: 1px solid #AFCDD8;
    background-color: #EBF2F4;
}

#contact-form textarea {
    height:150px;
    resize: none;
}

#contact-form label {
    display:block;
}

#contact-form .required {
    font-weight:bold;
    color:#F00;
}

#contact-form #submit-button {
    width: 100px;
    background-color:#333;
    color:#FFF;
    border:none;
    display:block;
    float:right;
    margin-bottom:0px;
    margin-right:6px;
    background-color:#8FB5C1;
    -moz-border-radius:8px;
}

#contact-form #submit-button:hover {
    background-color: #A6CFDD;
}

#contact-form #submit-button:active {
    position:relative;
    top:1px;
}

#contact-form #loading {
    width:32px;
    height:32px;
    display:block;
    position:absolute;
    right:130px;
    bottom:16px;
    display:none;
}

#errors {
    border:solid 1px #E58E8E;
    padding:10px;
    margin:25px 0px;
    display:block;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background-color:#FFE6E6;
    display:none;
}

#errors li {
    padding:2px;
    list-style:none;
}

#errors li:before {
    content: ' - ';
}

#errors #info {
    font-weight:bold;
}

#errors #info:before {
    content: '';
}

#success {
    border:solid 1px #83D186;
    padding:25px 10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background-color:#D3EDD3;
    font-weight:bold;
    display:none;
}

#errors.visible, #success.visible {
    display:block;
    width: 100%;
}

#req-field-desc {
    font-style:italic;
}

/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required, textarea:required {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
}

/* Normalize placeholder styles */

/* chrome, safari */
::-webkit-input-placeholder {
    color:#CCC;
    font-style:italic;
}

/* mozilla */
input:-moz-placeholder, textarea:-moz-placeholder {
    color:#CCC;
    font-style:italic;
}

/* ie (faux placeholder) */
input.placeholder-text, textarea.placeholder-text  {
    color:#CCC;
    font-style:italic;
}

/**
* Transitions
*/

.image {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.image:hover {
    -webkit-transform:scale(1.01);
    transform:scale(1.01);
}

.image.lg:hover {
    -webkit-transform:scale(1.01);
    transform:scale(1.01);
}

/*
* Link buttons
*/

a#write-new-review,
a.comment-reply-login,
a.moretag,
.nav-previous a,
.nav-next a,
a.post-edit-link,
a.comment-reply-link,
a.comment-edit-link {
    padding: 6px 9px 5px 9px;
    background: #555;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
}

a#write-new-review:hover,
a.comment-reply-login:hover,
a.moretag:hover,
.nav-previous a:hover,
.nav-next a:hover,
a.post-edit-link:hover,
a.comment-reply-link:hover,
a.comment-edit-link:hover {
    background: #3279BB;
}

.nav-previous a {
    border-radius: 30px 0 0 0;
}

.nav-next a {
    border-radius: 0 30px 0 0;
}

.nav-previous,
.nav-next {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*
*
* Icons
*
*/

.upcoming-event .icon,
.footer-nav .icon {
    position: relative;
    top: 7px;
}

.upcoming-event .icon,
.page-header .icon {
    margin-left: 10px;
}

.page-header .icon {
    position: relative;
    top: 12px;
}

.footer-nav .icon img {
    background-color: #919191;
}

.upcoming-event .icon {
}

.upcoming-event .icon img:hover{
    -webkit-box-shadow: 0px 0px 15px 1px gray;
}

.page-header .icon img:hover {
    -webkit-box-shadow: 0px 0px 25px 1px gray;
    /*-webkit-transition: box-shadow .2s ease-in;*/
}
.footer-nav .icon img:hover {
    background-color: #fff;
    -webkit-transition: background-color .25s ease-in-out;
}

.icon img {
    width: 24px;
    border-radius: 5px;
}

.icon.round img {
    border-radius: 10px;
}

.page-header .icon img {
    width: 40px;
}

/*
* Pagination
*/

.pagination {
    clear:both;
    padding:20px 0;
    position:relative;
    font-size:11px;
    line-height:13px;
}

.pagination span, .pagination a {
    display:block;
    float:left;
    margin: 2px 2px 2px 0;
    padding:6px 9px 5px 9px;
    text-decoration:none;
    width:auto;
    color:#fff;
    background: #555;
}

.pagination a:hover{
    color:#fff;
    background: #3279BB;
}

.pagination .current{
    padding:6px 9px 5px 9px;
    background: #3279BB;
    color:#fff;
}

/*
* Voting
*/

.vote-btn {
    width: 24px;
    border-radius: 15px;
    margin-top: 5px;
}
.js-voting.disabled .vote-btn {
    -webkit-box-shadow: 0px 0px 25px 1px lightgreen;
    background-color: green;
}
.js-voting.disabled .vote-btn:active {
    margin-right: 0;
}
.vote-btn:hover {
    -webkit-box-shadow: 0px 0px 25px 1px lightgreen;
    background-color: green;
}
.vote-btn:active {
    bottom: 1px;
    left: 1px;
    position: relative;
}

/*
* ITU rating
*/

.star-rating {
    background-image: url('http://razi.frwaw.itu.dk/wp-content/themes/ITUFilm/images/rating_stars.png');
    background-repeat: no-repeat;
    height: 20px;
    width: 98px;
    display: inline-block;
}

.star-rating.rating-00 {
    background-position: -150px -30px;
}

.star-rating.rating-05 {
    background-position: -150px -52px;
}

.star-rating.rating-10 {
    background-position: -150px -74px;
}

.star-rating.rating-15 {
    background-position: -150px -95px;
}

.star-rating.rating-20 {
    background-position: -150px -117px;
}

.star-rating.rating-25 {
    background-position: -150px -139px;
}

.star-rating.rating-30 {
    background-position: -150px -161px;
}

.star-rating.rating-35 {
    background-position: -150px -183px;
}

.star-rating.rating-40 {
    background-position: -150px -206px;
}

.star-rating.rating-45 {
    background-position: -150px -228px;
}

.star-rating.rating-50 {
    background-position: -150px -250px;
}

/*
* Searching
*/

.events-search-wrapper {
    display: inline-block;
    position: relative;
    top: 1px;
}

.events-search-wrapper p {
    /*color: #919191;*/
    /*margin: 0;*/
}

.search-results-wrapper {
    background-color: #ffffff;
    position: fixed;
    z-index: 9999;
    top: 59px;
    text-align: left;
    width: 228px;
}

.search-results-wrapper ul {
    margin: 0;
    padding: 0;
    list-style-position: outside;
    list-style: none;
    background: #1d1d1d;
}

.search-box {
    width: 180px;
    font-size: 0.8em;
    background: url("images/magnifying47.png") no-repeat;
    background-color: #ffffff;
    background-size: 18px;
    background-position: 6px 5px;
    padding: 5px 36px !important;
    padding-right: 10px !important;
}

.search-results-wrapper li {
    cursor: pointer;
    display: block;
    overflow: auto;
    margin: 0;
    padding: 0;
    border-top: 1px solid #2f2f2f;
    font-size: 14px;
}

.search-result a {
    display: block;
    overflow: auto;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #919191;
}

.search-result a:hover {
    color: #fff;
    -webkit-transition: color .25s ease-in-out;
}

li.search-result a:focus {
    background-color: #303030;
    outline: none;
}

li.search-result img {
    width: 34px;
    float: right;
}

/*
* Admin CSS overwrites
*/
#wpadminbar {
    position: fixed !important;
}

